* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #10171D;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
}

.containerCadastro, .containerLogin {
    color: white;
    font-size: 28pt;
    font-weight: bolder;
    text-shadow: 2px 2px 4px gray;;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0px;
    margin-top: 30px;
    width: 250px;
    background-color: #232C35;
    padding: 10px;
}

.containerCadastro {
    border: 4px dashed #3D7428;
}

.containerLogin {
    border: 4px dashed #286C74;
}

.btn {
    width: 100px;
    margin: 0 auto;
}

.emailPassCadastro, .emailPassLogin {
    border-radius: 5px;
    outline: none;
    border-color: transparent;
    width: 155px;
    font-size: 14pt;
    background-color: #181e25;
    color: white;
    transition: all 0.35s;
    box-shadow: -2px 2px 4px #10151a;
    padding: 0 5px;
}

.emailPassCadastro:focus, .emailPassLogin:focus {
    width: 190px;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.emailPassCadastro:focus {
    background-color: #2e4632;
}

.emailPassLogin:focus {
    background-color: #2e3b46;
}

.btnLogin, .btnCadastro {
    border-radius: 4px;
    border-color: transparent;
    outline: none;
    padding: 5px;
    font-weight: bold;
    font-size: 14pt;
    background-color: #181b25;
    cursor: pointer;
    box-shadow: 2px 2px 4px #10151a;
    transition: all 0.35s;
}

.btnCadastro {
    color: #8ed69a;
}

.btnLogin {
    color: #8ebad6;
}

.btnCadastro:hover, .btnLogin:hover {
    transform: scale(1.2);
}

.btnCadastro:active, .btnLogin:active {
    transform: scale(1);
}